<div id="<%= dom_id goal_kvm %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Goal:</strong>
    <%= goal_kvm.goal_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Kvm:</strong>
    <%= goal_kvm.kvm_id %>
  </div>
</div>
